7.1 

Duotas skaicius n, po jo n eilučių iš porų (žodis, skaičius). Parašykite programą, kuri naudojant lambda funkciją surikiuoja rinkinių sąrašą marks pagal antrą reikšmę mažėjimo tvarka.

4
English 10
Science 9
Maths 8
Social sciences 10


[(’English’, 10), (’Social sciences’, 10), (’Science’, 9), (’Maths’, 8)]

In [18]:
n = int(input())
d = []
for i in range(n):
    a = input().split()
    d.append((' '.join(a[:-1]), int(a[-1])))

d.sort(key=lambda x: x[1], reverse = True)
print(d)

[('English', 10), ('Social sciences', 10), ('Science', 9), ('Maths', 8)]

7.2

Duotas sąrašas L. Funkcijos lambda pagalba parašykite programą, kuri sukuria sąrašo L elementų kubų sąrašą.

[12,10,25,2,17,3,5]
[1728, 1000, 15625, 8, 4913, 27, 125]

In [ ]:
L = eval(input())
print(list(map(lambda x: x**3, L)))

[1728, 1000, 15625, 8, 4913, 27, 125]

7.3

Duotas sąrašas L. Parašykite programą, kuri surikiuoja sąrašo elementus pagal antrą raidę.

["manner","unfair","release","free","fixture","user","emphasis","coach","character","skilled","spoil","equinox"]

In [ ]:
L = eval(input())
L.sort(key=lambda x: x[1])
print(L)

['manner', 'release', 'character', 'fixture', 'skilled', 'emphasis', 'unfair', 'coach', 'spoil', 'equinox', 'free', 'user']

7.4

Duoti du žodynai. Apjunkite juos į vieną žodyną ir išveskite rezultatą didėjimo tvarka.

{"Ten": 10, "Twenty": 20, "Thirty": 30}
{"Thirty": 30, "Fourty": 40, "Fifty": 50}

Ten - 10
Twenty - 20
Thirty - 30
Fourty - 40
Fifty - 50

In [ ]:
d1 = dict(eval(input()))
d2 = dict(eval(input()))
d1.update(d2)

for x,y in d1.items():
    print(x, '-', y)

Ten - 10
Twenty - 20
Thirty - 30
Fourty - 40
Fifty - 50

7.5

Duota: sąrašas empl ir žodynas defaults. Metodo dict.fromkeys() pagalba sudarykite žodyną d. Išveskite žodyno d duomenis stulpeliu kaip parodyta.

["Kelly", "John", "Emma"]
{"designation": "Application Developer", "salary": 8000}

Kelly: {’designation’: ’Application Developer’, ’salary’: 8000}
John: {’designation’: ’Application Developer’, ’salary’: 8000}
Emma: {’designation’: ’Application Developer’, ’salary’: 8000}

In [ ]:
empl = eval(input())
defaults = eval(input())
d = dict.fromkeys(empl, defaults)
for key, value in d.items():
    print(key+':', value)

Kelly: {'designation': 'Application Developer', 'salary': 8000}
John: {'designation': 'Application Developer', 'salary': 8000}
Emma: {'designation': 'Application Developer', 'salary': 8000}

7.6

Iš duotų aibių keys ir values sudarykite žodyną funkcijos zip() pagalba.

("Tokyo", "Delhi", "Shanghai", "Mumbai")
(38140000, 26454000, 24484000)

{’Tokyo’: 38140000, ’Delhi’: 26454000, ’Shanghai’: 24484000}

In [ ]:
keys = eval(input())
values = eval(input())
d = dict(zip(keys, values))
print(d)

{'Tokyo': 38140000, 'Delhi': 26454000, 'Shanghai': 24484000}

7.7

Parašykite programą, kuri iš ekrano nuskaito žodyną ir randa jo reikšmių sumą.

{"x": 100, "b": 100, "e": 200, "a": 300, "h": 100, "d": 100}            900

In [ ]:
d = eval(input())
print(sum(d.values()))

900

7.8

Duotas žodynas, vardas ir x reikšmė. Pakeiskite duoto vardo "salary" reikšmę į x.

{"emp1": {"name": "John", "salary": 8500},"emp2": {"name": "Navy", "salary": 6000},"emp3": {"name": "Brad", "salary": 7500}}
Navy
8000

In [ ]:
d = eval(input())
vardas = input()
x = int(input())

for i in d.keys():
    if d[i]['name'] == vardas:
        d[i]['salary'] = x

print(d)

{'emp1': {'name': 'John', 'salary': 8500}, 'emp2': {'name': 'Navy', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 7500}}

7.9

Duotas žodynas d. Išveskite dviejų porų su mažiausiomis reikšmėmis sąrašą.

{"a":500, "b":5874, "c": 560, "d":400, "e":5874, "f": 20}

[(’f’, 20), (’d’, 400)]

{"c":3, "b":4, "a":3}
[('c', 3), ('a', 3)]

In [36]:
d = eval(input())
L = sorted(d.items(), key=lambda x: x[1])[:2]
print(L)

[('f', 20), ('d', 400)]

7.10

Parašykite programą, kuri leidžia nuskaityti iš ekrano poras (key – raidė, value – sveikasis skaičius) ir baigia nuskaitymą įvedus q q. Išsaugo įvestas reikšmes žodyne. Išveda didžiausios reikšmės raktą. Jeigu tokios reikšmės yra kelios – išveda tik pirmąjį raktą. Išveda žodyną

a 100
b 250
c -12
d 34
q q

b
{’a’: 100, ’b’: 250, ’c’: -12, ’d’: 34}


a 100
b 100
q q

a
{’a’: 100, ’b’: 100}

In [17]:
a = 0 
b = 0
d = dict()
while True:
    a, b = input().split()
    if a == 'q' and b == 'q':
        break
    d.update({a: int(b)})

if len(d) > 0:
    print(max(d, key=lambda x: d[x]))
print(d)

a
{'a': 500}

7.11

Parašykite programą, kuri randa balsių skaičių eilutėje ir išveda rezultatą kaip parodyta.

the quick brown fox jumps over the lazy dog
{’e’: 3, ’u’: 2, ’i’: 1, ’o’: 4, ’a’: 1, ’y’: 1}

In [37]:
balses = set('euioay')
d = dict()
L = input()
for c in L:
    if c in balses:
        d[c] = d[c]+1 if c in d else 1

print(d)

{'e': 3, 'u': 2, 'i': 1, 'o': 4, 'a': 1, 'y': 1}

7.12

Parašykite programą, kuri nuskaito netuščią eilutę. Randa kiek kartų sutinkamas kiekvienas žodis. Išveda rezultatą kaip žodyną. Sudaro (dictionary comprehension) ir išveda dažniausiai pasitaikančių žodžių žodyną.


one two five one two three three three one four five

{’one’: 3, ’two’: 2, ’five’: 2, ’three’: 3, ’four’: 1}
{’one’: 3, ’three’: 3}

In [43]:
L = input().split()
d = dict()
for w in L:
    d[w] = d[w]+1 if w in d else 1

print(d)
print(max(d))
print({k: v for k, v in d.items() if v == d[max(d)]})

{'one': 3, 'two': 2, 'five': 2, 'three': 3, 'four': 1}
two
{'two': 2, 'five': 2}